@{
    ViewBag.Title = "Index";
    var Tasks = ViewBag.Tasks; 
}

<!DOCTYPE html>

<html>
    <head>
        <title>Tasklist</title>
    </head>
    <body>
        @{ 
            using(Html.BeginForm("AddTask", "Home")) 
            {
                @:<input type="text" name="task" placeholder="New task..." />
                @:<input type="submit" value="Add"/>
            }
        }    
            <ul>
            @foreach(var task in Tasks)
            { 
                 <li>@task</li>
            }
            </ul>
         
    </body>
</html>
